﻿@model Settings
@__property String Secret

<html>
	<head>
		<title>Control Panel</title>
		<style>
			body {
				background-color: #e1f4fa;
				font-family: sans-serif;
			}
			table {
				background-color: #fff;
				border: 5px outset #add7e6;
				margin: 100px auto;
			}
		</style>
	</head>
	<body>
		<form method="post">
			<input type="hidden" name="secret" value="@Secret" />
			<table>
				<tr>
					<td><b>SuperServer</b></td>
					<td><b>Control Panel</b></td>
				</tr>
				<tr>
					<td>Web port:</td>
					<td><input value="@Model.WebPort" name="WebPort" /></td>
				</tr>

				<tr>
					<td>Control port:</td>
					<td><input value="@Model.ControlPort" name="ControlPort" /></td>
				</tr>

				<tr>
					<td>Webroot:</td>
					<td><input value="@Model.WebRoot" name="WebRoot" /></td>
				</tr>

				<tr>
					<td>Default page:</td>
					<td><input value="@Model.DefaultPage" name="DefaultPage" /></td>
				</tr>

				<tr>
					<td>Directory browsing:</td>
					<td><input type="checkbox" value="true" @(Model.DirectoryBrowsing ? "checked" : "") name="DirectoryBrowsing" /></td>
				</tr>
				<tr>
					<td><a href="/logs">Show Logs</a></td>
					<td><input type="submit" name="ok" value="OK" /></td>
				</tr>
			</table>
		</form>
	</body>
</html>
	