﻿@__property String Error

<html>
	<head>
		<title>Control Panel - Login</title>
		<style>
			body {
				background-color: #e1f4fa;
				font-family: sans-serif;
			}
			table {
				background-color: #fff;
				border: 5px outset #add7e6;
				margin: 100px auto;
			}
		</style>
	</head>
	<body>
		<form method="post">
			<input type="hidden" name="secret" value="" />
			<table>
				<tr>
					<td><b>SuperServer</b></td>
					<td><b>Login</b></td>
				</tr>

@if(Error != null) {
				<tr>
					<td><b>Error:</b></td>
					<td>@Error</td>
				</tr>
}

				<tr>
					<td>Username:</td>
					<td><input name="username" /></td>
				</tr>

				<tr>
					<td>Password:</td>
					<td><input name="password" type="password" /></td>
				</tr>
	
				<tr>
					<td></td>
					<td><input type="submit" value="Inloggen" /></td>
				</tr>
			</table>
		</form>
	</body>
</html>
	