﻿@model String

<html>
	<head>
		<title>Control Panel - Log Reader</title>
		<style>
			body {
				background-color: #e1f4fa;
				font-family: sans-serif;
			}
			#container {
				width: 800px;
				background-color: #fff;
				border: 5px outset #add7e6;
				margin: 100px auto;
			}
			textarea {
				width: 100%;
				height: 600px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<textarea>@Model</textarea>
		</div>
	</body>
</html>
	