﻿@model User
@__property String Secret

<html>
	<head>
		<title>Control Panel</title>
		<style>
			body {
				background-color: #e1f4fa;
				font-family: sans-serif;
			}
			#container {
				background-color: #fff;
				border: 5px outset #add7e6;
				margin: 100px auto;
				width: 800px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<form method="post">
				<input type="hidden" name="secret" value="@Secret" />
				<table>

					<tr>
						<td>Username:</td>
						<td><input name="username" value="@Model.Username" /></td>
					</tr>

					<tr>
						<td>Password:</td>
						<td><input name="password" type="password" /></td>
					</tr>

					<tr>
						<td>Role:</td>
						<td>
							<select name="role">
								<option value="beheerder" @(Model.Role == "beheerder" ? "selected" : "")>Beheerder</option>
								<option value="ondersteuner" @(Model.Role == "Ondersteuner" ? "selected" : "")>Ondersteuner</option>
							</select>
						</td>
					</tr>
					<tr><td></td></tr>
					<tr>
						<td><input type="submit" name="save" value="Opslaan" /></td>
						<td><a href="/users">Terug</a></td>
					</tr>
				</table>
			</form>
				
		</div>
	</body>
</html>
	