﻿@model List<User>

<html>
	<head>
		<title>Control Panel</title>
		<style>
			body {
				background-color: #e1f4fa;
				font-family: sans-serif;
			}
			#container {
				background-color: #fff;
				border: 5px outset #add7e6;
				margin: 100px auto;
				width: 800px;
			}
			table th {
				text-align: left;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<table style="width: 100%">
				<tr>
					<th>Id</th>
					<th>Naam</th>
					<th>Role</th>
				</tr>
			@foreach(var item in Model) {
				<tr>
					<td>@item.Id</td>
					<td>@item.Username</td>
					<td>@item.Role</td>
					<td><a href="/users/edit?id=@item.Id">Aanpassen</a> <a href="/users/delete?id=@item.Id">Verwijderen</a></td>
				</tr>
			}
			</table>

			<a href="/users/new">Nieuwe gebruiker</a>
		</div>
	</body>
</html>